<?php
$header = <<<EOF
This file is part of Contao Webfont Generator Bundle
@author Alexander Schwirjow
@license LGPL-3.0-or-later
EOF;
return PhpCsFixer\Config::create()
    ->setRules(['@PSR12' => true]);